<p id="notice"><%= notice %></p>
<%= image_tag @eat_blog.image.url(:large) %>
<p>
  <strong>Title:</strong>
  <%= @eat_blog.title %>
</p>

<p>
  <strong>Paragraph1:</strong>
  <%= @eat_blog.paragraph1 %>
</p>

<p>
  <strong>Paragraph2:</strong>
  <%= @eat_blog.paragraph2 %>
</p>

<p>
  <strong>Paragraph3:</strong>
  <%= @eat_blog.paragraph3 %>
</p>

<p>
  <strong>Paragraph4:</strong>
  <%= @eat_blog.paragraph4 %>
</p>

<%= link_to 'Edit', edit_eat_blog_path(@eat_blog) %> |
<%= link_to 'Back', eat_blogs_path %>
  
