<section class="top">
	<%= image_tag @travel_blog.image.url %>
  	<h2 class="wide">Travel</h2>
  	<h3 class="wide"><%= @travel_blog.title %></h3>

<div class="max-wide has-padding">
	<p><%= @travel_blog.paragraph1 %></p>
	<p><%= @travel_blog.paragraph2 %></p>
	<p><%= @travel_blog.paragraph3 %></p>
	<p><%= @travel_blog.paragraph4 %></p>


<%= link_to 'Edit', edit_travel_blog_path(@travel_blog) %> |
<%= link_to 'Back', travel_blogs_path, class: "btn-primary btn-lg" %>
  </div>





</section>