<div class="image">
	<%= image_tag @travel_blog.image.url(:large) %>
  	<h3>Travel</h3>
  <h2><%= @travel_blog.title %></h2>
</div>
</br>
<div class="blogcontent">
	<p><%= @travel_blog.paragraph1 %></p>
	<p><%= @travel_blog.paragraph2 %></p>
	<p><%= @travel_blog.paragraph3 %></p>
	<p><%= @travel_blog.paragraph4 %></p>
</div>

<%= link_to 'Edit', edit_travel_blog_path(@travel_blog) %> |
<%= link_to 'Back', travel_blogs_path %>
