<%= link_to 'New News blog', new_news_blog_path %>

<div id="owl-demo" class="owl-carousel owl-theme">
    <div class="item">
    <% @news_blogs.each do |news_blog| %>
    <%= link_to image_tag(news_blog.image.url(:medium)), news_blog %>
    </div><% end %>
</div>

<div id="news_blogs" class="transitions-enabled">
	<% @news_blogs.each do |news_blog| %>
    <div class="box panel panel-default">
        <td><%= news_blog.title %></td>
        <td><%= link_to image_tag(news_blog.image.url(:medium)), news_blog %></td>
   		</div>
    <% end %>
</div>





<div class="center">
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>
