<section class="top">
	<%= image_tag @news_blog.image.url %>
	<h2 class="wide">News</h2>
  <h3 class="wide"><%= @news_blog.title %></h3>


<div class="max-wide has-padding">
	<p><%= @news_blog.paragraph1 %></p>
	<p><%= @news_blog.paragraph2 %></p>
	<p><%= @news_blog.paragraph3 %></p>
	<p><%= @news_blog.paragraph4 %></p>


<%= link_to 'Edit', edit_news_blog_path(@news_blog) %> |
<%= link_to 'Back', news_blogs_path, class: "btn-primary btn-lg" %>
 </div>





</section>