<%= link_to 'New Drink blog', new_drink_blog_path %>

<div id="owl-drink" class="owl-carousel owl-theme">
    <div class="item"><% @drink_blogs.each do |drink_blog| %>
    <%= link_to image_tag(drink_blog.image.url(:medium)), drink_blog %>
    <% end %>
    </div>
</div>


<div class="drink_blogs" id="transitions-enabled">
  <% @drink_blogs.each do |drink_blog| %>
    <div class="box panel panel-default">
        <td><%= link_to image_tag(drink_blog.image.url(:medium)), drink_blog %></td>
        <h3> Drink </h3>
        <h2><%= drink_blog.title %></h2>
      </div>
    <% end %>
</div>





<div class="center">
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>
