<section class="top">
  <%= image_tag @drink_blog.image.url %>
  <h2 class="wide">Drink</h2>
  <h3 class="wide"><%= @drink_blog.title %></h3>
</div>

<div class="max-wide has-padding">
	<p><%= @drink_blog.paragraph1 %></p>
	<p><%= @drink_blog.paragraph2 %></p>
	<p><%= @drink_blog.paragraph3 %></p>
	<p><%= @drink_blog.paragraph4 %></p>


<%= link_to 'Edit', edit_drink_blog_path(@drink_blog) %> |
<%= link_to 'Back', drink_blogs_path, class: "btn-primary btn-lg" %>
 </div>





</section>