<div class="image">
  <%= image_tag @drink_blog.image.url(:large) %>
  <h3>Drink</h3>
  <h2><%= @drink_blog.title %></h2>
</div>

<div class="blogcontent">
	<p><%= @drink_blog.paragraph1 %></p>
	<p><%= @drink_blog.paragraph2 %></p>
	<p><%= @drink_blog.paragraph3 %></p>
	<p><%= @drink_blog.paragraph4 %></p>
</div>

<%= link_to 'Edit', edit_drink_blog_path(@drink_blog) %> |
<%= link_to 'Back', drink_blogs_path %>
