<div class="container">
<div class="footer" id="footerleft">
<h3>Categories</h3>
          <h5><%= link_to "Eat", eat_blogs_path %> </h5>
          <h5><%= link_to "Drink", drink_blogs_path %> </h5>
          <h5><%= link_to "Travel", travel_blogs_path %></h5>
          <h5><%= link_to "News",  news_blogs_path %> </h5>
        
</div>


<div class="footer" id="footerright">
 <h3>Social</h3>
	   <h5><%= link_to "Facebook", root_path %></h5>
		<h5><%= link_to "Instagram",   root_path  %> </h5>
		<h5><%= link_to "Instagram",   root_path %></h5>
		<h5><%= link_to "Pinterest",  root_path %></h5>
  
</div>
  
</div>

   