
<nav class="navbar navbar-static-top navbar-default" role="navigation">
  <div class="container">
 
   <div class="row" >
<div class="col-md-6">
	<ul>
           <li> <%= link_to "Eat", eat_blogs_path, class: "navbar-brand"%> </li>
            <li><%= link_to "Drink", drink_blogs_path, class: "navbar-brand" %> </li>
            <li><%= link_to "Travel", travel_blogs_path,class: "navbar-brand" %> </li>
            <li><%= link_to "News",  news_blogs_path,class: "navbar-brand" %> </li>
        </ul>
    </div></div>
        
<div class="row" >
<div class="col-md-6">
<%= link_to "Facebook", root_path, class: "navbar-brand" %>
<%= link_to "Instagram",   root_path %>
<%= link_to "Instagram",   root_path %>
<%= link_to "Pinterest",  root_path %>

</div>
</nav>
     
     